.v-application {
  font-family: $ubuntu;
  a {
    text-decoration: none;
  }
  .v-btn {
    text-transform: none;
    border-radius: 7px;
    font-weight: 600;
  }
  .v-dialog {
    border-radius: 20px;
  }
}
